# sandbox temp
sandbox/tmp/

# python cache
sandbox/__pycache__/

# executable binaries
sandbox/build

sandbox/sandbox_manager.c
__pycache__/
*.pyc

venv/
backend/venv/

*.db
*.sqlite3

.vscode/
.env
