# sandbox temp
sandbox/tmp/

# python cache
sandbox/__pycache__/

# executable binaries
sandbox/build

sandbox/image

sandbox/results

alpine-minirootfs-3.19.1-x86_64.tar.gz

__pycache__/
*.pyc

venv/
backend/venv/

*.db
*.sqlite3

.vscode/
.env
